/* COLOR PALETTE */
/* https://coolors.co/ffcdb2-ffb4a2-e5989b-b5838d-6d6875 */

.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.user {
  position: relative;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 30rem;
  color: black;
  flex-basis: width;
  
  background: linear-gradient(to right, rgb(238, 221, 221) -6%, #fad4c0 100%);
}

.user h3 {
  margin-bottom: 5px;
  font-size: 1rem;
  opacity: 0.7;
}

.user h2 {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.details {
  text-align: left;
}

.profile-img {
  border-radius: 5rem;
}


.name:hover {
  color: red;
  cursor: pointer;
}

.btn-card {
  padding: .7rem 1.8rem;
  border: none;
  border-radius: 5px;
  font-size: .8rem;
  font-weight: bold;
  outline: 0;
  
}
.btn-card:hover {
  background-color: rgb(220, 170, 170);
  color:white;
}